# Ignore environment files
.env
**/.env

# Ignore data files
data/      

# Ignore Python cache
**/__pycache__/
__pycache__/

# Ignore virtual environment folder
venv/

# Ignore system/IDE files
.DS_Store
*.swp
*.log
.vscode/
.idea/
*.docx

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
